@{
    ViewData["Title"] = "Home Page";
}

<br/>
<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Emplyees", "Index", "Employee")</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Projects", "Index", "Project")</h2>
    </div>
</div>

